.dubblecheck-intro-text {
    text-align: center;
    padding: 3em 0 2em 0;
}

.dubbelcheck-p {
    display: block;
    margin: 2em 0 1em 3em;
    img {
        width: 40px;
        margin-right: 1em;
    }
}
.dubbelcheck-under-text{
    font-style: italic;
    padding-left: 6em;
}

@media (max-width: 1000px) {
    .dubbelcheck-p {
        margin: 2em 0 1em 0;
    }

    .dubbelcheck-under-text{
        padding-left: 3em;
    }

    .dubblecheck-intro-text {
        width: 80%;
        margin: auto;
    }

}

@include phone {
    .dubbelcheck-p {
        margin: 2em 0 1em 0em;
        img {
            width: 20px;
            margin-right: 1em;
        }
    }

    .dubbelcheck-under-text{
        padding-left: 0.2em;
    }

    .dubblecheck-intro-text {
        padding: 2em 0 1em 0;
        width: 100%;
    }

}