//standard design for forms

form {
    width: 80%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 4em auto;
    input, textarea, select {
        box-sizing: border-box;
        padding: 0.8em;
        border-radius: 25px;
        width: 100%;
        margin: 0.5em 0 3em 0;
    }
    label, .form-p, p {
        font-weight: bold;
        color: $dark-green;
    }   
    .submit {
        background-color: $button-gren;
        color: $white;
        margin-top: 2em;
    }
}

.update-button {
    box-sizing: border-box;
    display: block;
    padding: 1em 1.5em;
    font-size: 1.3em;
    border-radius: 25px;
    text-align: center;
    width: 80%;
    text-decoration: none;
    font-weight: bold;
    max-width: 900px;
    margin: auto;
    background-color: $button-gren;
    color: $white;
    margin: 4em auto 0;
}

#delete-trip {
    margin: 1.5em auto 0;
}

.checkbox {
    appearance: none;
    border: 1px solid;
    width: 2px;
    height: 2px;
    border-radius: 8px;
    margin: 1em 0 0 1em;
    display: inline-block;
}

.radiobox {
    appearance: none;
    border: 1px solid;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 0.5em 0 0 0.5em;
    display: inline-block;
    box-sizing: border-box;
}

.yes-label {
    margin-right: 4em;
    color: $yes-green;
    margin-left: 1em;
}

.no-label {
    color: $no-red;
    margin-left: 1em;
}

//uses when label dosent belong have input over
.special-label {
    display: block;
    margin-top: 2em;
}

.form-p {
    margin-top: 4em;
}

.checkbox-label {
    margin-left: 1em;
    font-weight: normal;
}

input[type="radio"]:checked, input[type="checkbox"]:checked { 
    border: 2px solid $black !important;
    background-color: $dark-green;
    box-sizing: border-box;
}

//for checkbox parts in form
.form-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    .form-card {
        width: 50%;
    }
}

.form-error-message {
    color: $no-red;
    font-weight: bold;
    line-height: 0;
    padding-bottom: 2em;
    line-height: 1.6;
}

.month-wrapper {
    width: 100%;
}

.label-p {
    display: block;
    margin-top: 4em;
}

@media (max-width: 970px) {
    .form-wrapper {
        display: block;
        .form-card {
            width: 100%;
        }
    }
}

@include phone {
    form {
        width: 95%;
        margin-bottom: 1em;
        margin-top: 2em;
    }

    .update-button {
        width: 100%;
        margin-top: 2em;
        font-size: 1.1em;
        padding: 1em 0.5em;
    }

    .form-p {
        margin-top: 3em;
    }
}