.hidden-info-wrapper {
    width: 80%;
    max-width: 1000px;
    padding: 4em;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 3em auto;
    background-color: $info-box-green;
    display: none;
    img {
        width: 20%;
        height: auto;
        max-width: 140px;
    }
    .hidden-info-text {
        width: 80%;
        padding: 3em 1em 2em 1em;
        box-sizing: border-box;
        margin: auto;
        text-align: center;
    } 
}


@include tablet {
    .hidden-info-wrapper {
        padding: 3em;
        img {
            margin-top: 2em;
            display: block;
            margin: auto;
            width: 25%;
            max-width: 90px;
        }
        .hidden-info-text {
            padding: 2em 1em;
            width: 75%;
        }
    }
}

@include phone {
    .hidden-info-wrapper {
        width: 90%;
        padding: 2em;
        img {
            width: 60%;
            max-width: 300px;
            height: auto;
        }
        .hidden-info-text {
            padding: 3em 1em;
            width: 100%;
            display: block;
        }
    }
}


