/*Colors*/
$white: #FFFFFF;
$black:  #000000;
$button-gren: #6E8D8D;
$info-box-green: rgba(45, 81, 79, 0.15);
$dark-green: #003838;
$no-red: #A80000;
$yes-green: #0F5D19;

/*Fonts*/
$headings: 'Inria Serif', serif;
$text: Verdana, Geneva, Tahoma, sans-serif;